.mitchesStyle {box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    border-radius: 3px;
    color: #fff;
    background-color: #03c9a8}

button.animated{
    margin: 0 auto;
    text-align: center;
    outline: none;
}

#custom-animated-btn {
    display: inline-block;
    margin-top: -25px;
    margin-bottom: 55px;
    font-size: 26px;
    padding: 5px 15px;
    background: -webkit-linear-gradient(top, #77c1fd, #006dc5);
	background: linear-gradient(top, #77c1fd, #006dc5);
	-webkit-background-clip: text;
	-webkit-text-fill-color: #2196f3;
    border: 1px solid #2196f3;
    border-radius: 3px;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-delay: .7s;
    -webkit-animation-iteration-count: 1;
}

#custom-animated-btn:active {
    border: none;
    background: white;
    background: -webkit-linear-gradient(top, #b5dbfa, #2196f3);
    background: linear-gradient(top, #b5dbfa, #2196f3);
    -webkit-text-fill-color: white;
}